<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">


        <%= link_to "Home", root_path,
          class: "nav-link
            #{request.path == root_path ? "active" : ""
          }"
        %>

        <%= link_to "Features", features_path, class: "nav-link #{request.path == features_path ? "active" : ""}"  %>
        <%= link_to "Pricing", pricing_path, class: "nav-link #{request.path == pricing_path ? "active" : ""}"  %>
      </div>
    </div>
  </div>
</nav>
